.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.npmignore export-ignore
.travis.yml export-ignore
.yarnclean export-ignore
LICENSE export-ignore
README.md export-ignore
test/ export-ignore

* text=auto