language:
  node_js
sudo: false
node_js:
  - 15
  - 14
  - 13
  - 12
  - 11
  - 10
os:
  - linux
  - osx
  - windows
  - freebsd
arch:
  - arm64
  - amd64
  - ppc64le
  - s390x
branches:
  only:
    - devel
    - master
install:
  - npm i
before_script:
  - npm test
script:
  - node index.js
